{% load static %}
<div class="col-sm-6 col-lg-4 mb-4">
    <div class="block-4 text-center border">
        {% if product.image %}
        <figure class="block-4-image">
            <img src="{{ product.image.url }}" alt="{{ product.title|title }}" class="img-fluid" style="height:250px;width:350px">
        </figure>
        {% endif %}
        <div class="block-4-text p-4">
            <h3><a href="{{ product.get_absolute_url }}">{{ product.title|title }}</a></h3>
            {# <h3><a href="{% url 'products:detail' slug=product.slug %}">{{ product.title }}</a></h3> #}
            <p class="mb-0">{{ product.description|linebreaks| truncatewords:3 }}</p>
            <p class="text-primary font-weight-bold">${{ product.price }}</p>
            {% include 'products/snippets/update-cart.html' with product=product cart=cart %}
        </div>
    </div>
</div>