<form method="post" action="{% url 'cart:update' %}" class="form-product-ajax" data-endpoint="{% url 'cart:update' %}">{% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    {% if in_cart %}
    <button type='submit' class="buy-now btn btn-sm btn-danger">Remove</button>
    {% else %}
    {% if product in cart.products.all %}
    <span class="submit-span">
        <button type='submit' class="buy-now btn btn-sm btn-danger">Remove From Cart</button>
        {% else %}
        <button type='submit' class="buy-now btn btn-sm btn-primary">Add To Cart</button>
    </span>
    {% endif %}
    {% endif %}
</form>